

<%for contacts.forEach(function(contacts) { %>
    <p><% contacts[i].firstName%></p>
    <p><% contacts[i].lastName%></p>
    <p style="margin-left: 40px"><% contacts[i].phone%></p>
    <p style="margin-left: 40px"><% contacts[i].email%></p>
<% }); %>