<p>Welcome home, <%= user.username %></p>

<a href="/signup">Sign up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/<%= user._id %>/addcontact">Add Contact</a>


<% for(var i = 0; i < contactList.length; i++){ %>
    <p><%= contactList[i].firstName %></p>
<% } %> 