<!DOCTYPE html>
<html>

  

  <style>

    #loginButton {
      display: block;
      margin: 0px auto;
      margin-bottom: 20px;
    }
   
    #createAcctBtn {
      display: block;
      margin: 0px auto;
      margin-bottom: 5px;
     }
   
    h6 {
      overflow: hidden;
      text-align: center;
      margin-bottom: 5px;
      
    }
    
    h6:before,
    h6:after {
      background-color:#000;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    
    h6:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    h6:after {
      left: 0.5em;
      margin-right: -50%;
    }

    #theModal {
	$modal-card-head-padding: 30px;

     }
  
  </style>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Coma</title>
    <link rel="stylesheet" href="css/mystyles.css">
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>

  <body>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-centered">Welcome to Coma</h1>
        </div>
      </div>
    </section>
      <div class="container">
        <div class="column is-4 is-offset-4">          
          <div class="card">
            <div class="card-content">
              <p class="title is-centered">
                <strong>Have an account?</strong>
              </p>
              <h3 class="subtitle">Login to continue</h3>
         
	      <form class="control" action="/login" method="POST">
                <div class="field">
                  <input class="input" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="field">
	          <input class="input" type="password" name="password" placeholder="Password" required>
                </div>
	        <input class="button is-centered" type="submit" id="loginButton" value="Login">
              </form>
         
              <p><h6 class="subtitle is-6 has-text-centered">or</h6></p>
                <button class="button is-centered is-medium is-white" id="createAcctBtn">Create an Account</button>
              <!--<footer class="card-footer has-text-centered">-->
               <!--<p class="card-footer-item">-->
                 <!-- <form class="control" action="/signup">
                    <input type="submit" class="button is-centered is-medium is-white" id="createAcctBtn" value="Create an Account">
                  </form>
                -->
                <!--</p>-->
              <!---</footer> -->
            <div>
          </div>
        </div>
      </div>    
 
      <div class="modal" id="theModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Create an Account</p>
            <button class="delete" id="closeBtn" aria-label="close"></button>
          </header>
	  <section class="modal-card-body">
             
            <form class="control" action="/signup" method="POST">
                <div class="field">
                  <input class="input" type="text" name="firstName" placeholder="First Name" required>
                </div>
                <div class="field">
	          <input class="input" type="text" name="last Name" placeholder="Last Name" required>
                </div>
                <div class="field">
                  <input class="input" type="text" name="phone" placeholder="Phone Number">
                </div>
                <div class="field">
                  <input class="input" type="email" name="Email" placeholder="Email">
                </div>
                <div class="field">
                  <input class="input" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="field">
                  <input class="input" type="password" name="password" placeholder="Password" required>
                </div>
                
                
	          <input class="button is-centered is-success" type="submit" id="signupBtn" value="Sign Up">
                 
                
              </form>
         
    
              
          </section>

          <footer class="modal-card-foot">
            <button class="button" id="cancelBtn">Cancel</button>
          </footer>
        </div>
      </div>
     
    <script type="text/javascript">
      var modal = document.getElementById('theModal');
      
      var modalButton = document.getElementById('createAcctBtn');

      var cancelSignup = document.getElementById('cancelBtn');

      var closeBtn = document.getElementById('closeBtn');

      modalButton.addEventListener("click", function(){
        theModal.style.display = "block";
      });
     
      cancelSignup.addEventListener("click", function(){
	 modal.style.display = "none";
      });

      closeBtn.addEventListener("click", function(){
	modal.style.display = "none";
      });

      
         
      
    </script>


 </body>

</html>
