<form action="/searchcontact" method="POST">
    <input type="text" name="query" placeholder="Enter Contact's Info">
    <button type="submit">Search Contacts</button>
</form>

<div>
    <section id="contactList">
        <% if(typeof contacts != 'undefined') { %>
        <% for(var i = 0; i < contacts.length; i++) { %>
            <h><%= contacts[i].firstName %> <%= contacts[i].lastName %></h>
        <% } %>
        <% } %>
    </section>
</div>