<form action="/signup" method="POST"> 
    <center>    <body>First Name:   </body><input type="name" name="firstName" placeholder="First name">        </center>
    <center>    <body>Last Name:    </body><input type ="name" name="lastName" placeholder="Last name">         </center>
    <center>    <body>Birthday:     </body><input type="date" name="birthday">                                  </center>
    <center>    <body>Email:        </body><input type="email" name="email" placeholder="email@domain.com">     </center>
    <center>    <body>User Name:    </body><input type="username" name="userName" placeholder="username">       </center>
    <center>    <body>Password:     </body><input type="password" name="password" placeholder="password">       </center>
    
    <center><input type="submit"></center>
</form>