<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css"></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="dropdown navigation" >
    <a class="navbar-item"  style=" margin: 0;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Logo-Free.jpg" width="40">
      <img src="https://cdn130.picsart.com/252265843032212.png?r1024x1024" width="40">
    </a>

    <!-- <div class="navbar-item has-dropdown">
      <a class="navbar-link" onclick="toggleVis()">
        lol
      </a></a>

      <div class="navbar-dropdown" id="ida" >
        <a class="navbar-item">
          About
        </a>
        <a class="navbar-item is-active">
          Login
        </a>
      </div>
    </div> -->
  </nav>

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title">
            Coma
          </h1>
          <p class="subtitle">
            Let's get into <strong>Coma</strong>!
          </p>
        </div>
        <div class="column is-half has-text-centered">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <a class="button">Sign Up</a>
          <a class="button">Sign In</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">

  </section>
</body>
<script type="text/javascript" src="/scripts/bulma.js"></script>
