<head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
    <div class="loader">
        <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="splash-text">This the splashy</p>
    </div>
</body>